type_transition thermal-engine socket_device:sock_file thermal_socket;

allow thermal-engine self:capability chown;

allow thermal-engine sysfs_battery_supply:dir search;
allow thermal-engine sysfs_battery_supply:file r_file_perms;
