import /init.zetaw.rc
import /init.lge.early.rc
import /init.lge.rc

on early-init
    mkdir /firmware 0771 system system
    symlink /data/tombstones /tombstones

    write /sys/block/mmcblk0/queue/scheduler noop
    write /sys/block/mmcblk0/bdi/read_ahead_kb 512
    write /sys/block/mmcblk1/bdi/read_ahead_kb 512

    export VIBE_PIPE_PATH /dev/pipes
    mkdir /dev/pipes 0771 shell shell

on init

on fs
    mount_all fstab.e7
    restorecon_recursive /sns
    restorecon_recursive /persist
    restorecon_recursive /persist-lg

    # Enable zRAM
    swapon_all /fstab.e7

    setprop ro.crypto.fuse_sdcard true

    # Executing tune2fs to reserve some region in /data. (40MB)
    exec /system/bin/tune2fs -u system -r 10240 /dev/block/platform/msm_sdcc.1/by-name/userdata

    # In order to keep plenty of large order chunks.
    write /proc/sys/vm/min_free_kbytes 5120

on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system

    chown system system /sys/class/timed_output/vibrator/vtg_level
    chown system system /sys/class/timed_output/vibrator/vtg_max
    chown system system /sys/class/timed_output/vibrator/vtg_min
    chmod 0644 /sys/class/timed_output/vibrator/vtg_level
    chmod 0644 /sys/class/timed_output/vibrator/vtg_max
    chmod 0644 /sys/class/timed_output/vibrator/vtg_min

    setprop vold.post_fs_data_done 1

on early-boot

on boot
   chown media media /sys/bus/platform/devices/cam_sensor_vt/antibanding
   chmod 644 /sys/bus/platform/devices/cam_sensor_vt/antibanding

   # Touch
   chmod 664 /sys/devices/virtual/input/lge_touch/touch_gesture
   chown system system /sys/devices/virtual/input/lge_touch/touch_gesture
   chmod 664 /sys/devices/virtual/input/lge_touch/knock_on_type
   chown system system /sys/devices/virtual/input/lge_touch/knock_on_type
   chmod 664 /sys/devices/virtual/input/lge_touch/global_access_pixel
   chown system system /sys/devices/virtual/input/lge_touch/global_access_pixel
   chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_data
   chown system system /sys/devices/virtual/input/lge_touch/lpwg_data
   chmod 664 /sys/devices/virtual/input/lge_touch/lpwg_notify
   chown system radio /sys/devices/virtual/input/lge_touch/lpwg_notify
   chmod 664 /sys/devices/virtual/input/lge_touch/incoming_call
   chown system system /sys/devices/virtual/input/lge_touch/incoming_call
   chmod 664 /sys/devices/virtual/input/lge_touch/lockscreen
   chown system system /sys/devices/virtual/input/lge_touch/lockscreen
   chmod 664 /sys/devices/virtual/input/lge_touch/ime_status
   chown system system /sys/devices/virtual/input/lge_touch/ime_status
   chmod 664 /sys/devices/virtual/input/lge_touch/object_ctrl
   chown system system /sys/devices/virtual/input/lge_touch/object_ctrl
   chmod 664 /sys/devices/virtual/input/lge_touch/keyguard
   chown system system /sys/devices/virtual/input/lge_touch/keyguard

   # MDP idle notifier
   chown system graphics /sys/class/graphics/fb0/idle_time
   chmod 0664 /sys/class/graphics/fb0/idle_time

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics

on property:init.svc.media=restarting
    restart qcamerasvr

on property:init.svc.servicemanager=restarting
    restart qcamerasvr

service time_daemon /system/bin/time_daemon
   class late_start
   user root
   group root

service mpdecision /system/bin/mpdecision --avg_comp
   user root
   disabled

service thermal-engine /system/bin/thermal-engine
   class main
   user root
   group root

on property:sys.boot_completed=1
    # Set up KSM
    write /sys/kernel/mm/ksm/deferred_timer 1
    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run 1


service audiod /system/bin/audiod
    class late_start
    user system
    group system

on boot
    chown system system /sys/class/power_supply/battery/pseudo_batt

service adsprpcd /system/bin/adsprpcd
    class main
    user media
    group media

# imsdatadaemon starts with root and UID will be downgraded to SYSTEM.
service imsdatadaemon /system/bin/imsdatadaemon
    class main
    user root
    group system wifi radio net_raw log qcom_diag net_admin
    disabled

on property:sys.ims.QMI_DAEMON_STATUS=1
    start imsdatadaemon

service ims_rtp_daemon /system/bin/ims_rtp_daemon
    class main
    user system
    group radio net_raw diag qcom_diag log
    disabled

on property:sys.ims.DATA_DAEMON_STATUS=1
    start ims_rtp_daemon

service wcnss-service /system/bin/wcnss_service
    class late_start
    user root
    group system wifi
    oneshot
